# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
modules/__pycache__
.DS_Store

# Random stuff
.idea/
readme.txt
cleaning_whiteboard.png
old/

# Data folders
19*/
20*/
21*/

# Private files for creating directory structure
iget_script.py